<footer class="text-center text-white">
  <!-- Grid container -->
  <div class="container pt-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Copyright -->
      <a class="copyright text-center p-3" href="https://mdbootstrap.com/">© 2020 Copyright:MDBootstrap.com</a>
<!-- Copyright -->
      <!-- Facebook -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="https://www.facebook.com/chinatowntattooles/"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fa-brands fa-facebook" style="filter: brightness(100);"></i
      ></a>

      <!-- Instagram -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="https://www.instagram.com/chinatowntattooles/?hl=en"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-instagram" style="filter: brightness(100);"></i
      ></a>

      <!-- Copyright -->
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->
</footer>
