{%extends "base.html"%}{%block content%}
<h2 class="text-center">About</h2>
<div class="container">
    <div class="row-3 pictures" style="justify-content: space-around;">
        <img/src="../static/images/Tattoo Store View.jpeg" style="width:25rem; height:20rem;">
        <img/src="../static/images/Tattoo Store Inside.jpeg" style="width:25rem; height:20rem;">
        <img/src="../static/images/Tattoo Store.jpeg" style="width:25rem; height:20rem;">
    </div>
    <div class"row">
        <h4>Chinatown Tattoo</h4>
        <p>
            Chinatown Tattoo first opened in New York City's Chinatown in 2008. We provide small introductory tattoos from existing designs 
            or hand drawn and personally designed tattoos from the artist themselves.
        </p>
    </div>
    <div class"row">
        <h4>Location</h4>
        <p> 
            We are currently located at <b>5824 8th Ave 2nd Floor Suite 202, Brooklyn, NY 11220</b>. The closest train station is the 8 Ave N train 
            which is a 4 minute walk away. Click <a href="https://www.google.com/maps/dir//Chinatown+Tattoo,+5824+8th+Ave+2nd+Floor+Suite+202
            ,+Brooklyn,+NY+11220/@40.6363013,-78.2278069,7z/data=!4m17!1m7!3m6!1s0x89c245f50e1175ef:0x7fa6ebc71ba42d0c!2sChinatown+Tattoo!8m2!
            3d40.6363621!4d-74.0093994!15sChBjaGluYXRvd24gdGF0dG9vkgEYdGF0dG9vX2FuZF9waWVyY2luZ19zaG9w4AEA!4m8!1m0!1m5!1m1!1s0x89c245f50e1175ef
            :0x7fa6ebc71ba42d0c!2m2!1d-74.0090569!2d40.6363013!3e4">here</a> to figure out how to get to us!
        </p>
    </div>
    <div class"row">
        <h4>Appointments</h4>
        <p>
            <b>Consulting Appointments:</b> Consulting Appointments are <b>FREE</b>. They are for you and the artist to talk about the design and price. Consulting 
            Appointments are 30 mintues long sessions and can be booked through our <a href="/artist/">Artist Page</a>.
        </p>
        <p>
            <b>Tattoo Appointment:</b> Tattoo Appointments can only be booked during your Consulting Appointment. If you require multiple Tattoo
            Appointments, then the next one will be book at the end of your current Tattoo Appointment.
        </p>
    </div>
</div>
{%endblock%}