{% extends 'base.html' %} {%block content%}
<div class="container">
  <div class="row text-center">
    <h2>Artists</h2>
  </div>
  <div class="row" style="justify-content: space-around">
    {%for artist in artist_list%}

      <div class="pic-cont col-6"><center><img class="pfp"
        src="/{{artist.profile}}"
        alt="No image found"
      /></center></div>
      <div class="card-info col-6">
      <h4>{{artist.name}}</h4>

        <div class="info"><b>Email:</b> {{artist.mail}}</div><div class="info"><b>Phone Number:</b> {{artist.mobile}}</div><div class="info"><b>About Me:</b> {{artist.about}}</div>
        <a class="btn button" href="/times/{{artist.id}}/">
          Schedule Me!
        </a>
        <a class="btn button" href="{{artist.id}}/"> View {{artist.name}}'s Portfolio </a>
        {% if user.is_staff%}

        <a class="btn button" href="{{artist.id}}/edit/"> Edit {{artist.name}} </a>
        <a class="btn button" href="{{artist.id}}/delete/"> Remove {{artist.name}} </a>
        {%endif%}
      

    </div>
    {% endfor %} {% if user.is_staff%}
    <a class="btn button" href="create/"> Creat new Artist </a>

    {%endif%}
  </div>
</div>
{% endblock %}
